$primary-color: #203760;
$second-color: #0099b6;
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

body{
    padding: 0;
    margin:0;
}
.loader {
    display: none;
}

.loader-animation {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $second-color;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#emv-pinpad-wrapper {
    background: #00000042;
}
#emv-pinpad-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.close-emv-pinpad-wrapper{
    top: -1000px;
    transition: 0.3s ease-in;
}
#emv-pinpad-popup {
    background-color: white;;
    font-family: 'Arimo', sans-serif;
    width: 500px;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid $primary-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px $primary-color;
    direction: rtl;
}
#emv-pinpad-header{
    padding: 15px;
}
#emv-pinpad-popup-close {
    display: flex;
    justify-content: space-between;

    i:hover {
        transition: 0.3s ease;
        color: $second-color;
    }
}

#switch-maintenance-screen{
    cursor: pointer;
    &:hover {
        transition: 0.3s ease;
        color: $second-color;
    }
    &::after{
        content: "\2699";
    }
}
.switch-transaction-screen{
    &:hover {
        transition: 0.3s ease;
        color: $second-color;
    }
    &::after{
        content: "\2190" !important;
    }
}
#close-emv-pinpad {
    display: none;
    cursor: pointer;
}

#emv-pinpad-content {
    width: 200%;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    .splitted-emv-box {
        display: inline-block;
        width: 49.5%;
        position: relative;
        left: 0;
        transition: 0.3s ease;
    }

    .show-maintenance-box {
        left: 50%;
        margin-left: 0;
    }
}

// deal box style
#emv-pinpad-deal-title {
    margin-bottom: 5%;
}
#emv-go-maintenance-button{
    display:none;
    margin: 0 auto;
}

// maintenance box style
#emv-pinpad-maintenance {
    margin-top: 2%;

    span {
        border-bottom: 1px solid $primary-color;
    }

    #emv-pinpad-maintenance-title {
        margin-bottom: 5%;
    }


    div#emv-pinpad-button-controls {
        margin-bottom: 5%;
    }
}
#emv-cancel-button{
    display: none;
    margin-top: 5px;;
}
.emv-button {
    cursor: pointer;
    outline: 0;
    width:120px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 15px;
    transition: 0.5s ease;
}

.emv-service-button{
    border: 0;
    color: white;
    background: $second-color;
    &:hover {
        background: #0099b6ad;
    }
}

